# Ignore VS Code configuration files
/.vscode/
/.vscode/*

# Ignore all files in the notes folder
/notes/
/notes/*

# Ignore build directory
/build/
/build/*

# Ignore the ISO directory needed for ISO file creation
/iso/
/iso/*

# Ignore all iso files
/*.iso

# Ignore files used for debugging
/bochsrc.bxrc
/bx_enh_dbg.ini
/debug.bat